<div class="modal" id="editModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Edit Video</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="editForm" class="needs-validation" novalidate>
                <div class="modal-body">
                    <div class="row my-2">
                        <div class="col-lg-1 col-sm-2 text-sm-end">
                            <label for="editRoom" class="col-form-label">Room</label>
                        </div>
                        <div class="col-lg-11 col-sm-10">
                            <select id="editRoom" class="form-select" onchange="updateNodeOptions('editRoom', 'editFromNode', 'editToNode', 'editStrat')" autocomplete="off">
                                <option value="">Select a room</option>
                            </select>    
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-lg-1 col-sm-2 text-sm-end">
                            <label for="editFromNode" class="col-form-label">From</label>
                        </div>
                        <div class="col-lg-11 col-sm-10">
                            <select id="editFromNode" class="form-select" onchange="updateStratOptions('editRoom', 'editStrat', 'editFromNode', 'editToNode')" autocomplete="off">
                                <option value="">Select "from" node</option>
                            </select>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-lg-1 col-sm-2 text-sm-end">
                            <label for="editToNode" class="col-form-label">To</label>
                        </div>
                        <div class="col-lg-11 col-sm-10">
                            <select id="editToNode" class="form-select" onchange="updateStratOptions('editRoom', 'editStrat', 'editFromNode', 'editToNode')" autocomplete="off">
                                <option value="">Select "to" node</option>
                            </select>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-lg-1 col-sm-2 text-sm-end">
                            <label for="editStrat" class="col-form-label">Strat</label>
                        </div>
                        <div class="col-lg-11 col-sm-10">
                            <select id="editStrat" class="form-select" autocomplete="off">
                                <option value="">Select strat</option>
                            </select>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-lg-1 col-sm-2 text-sm-end">
                            <label for="editNote" class="col-form-label">Note</label>
                        </div>
                        <div class="col-lg-11 col-sm-10">
                            <textarea id="editNote" class="form-control" maxlength=8000 autocomplete="off"></textarea>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-4">
                            <div class="row">
                                <div class="col-lg-6 text-lg-end">
                                    <label for="edit-cropSize" class="col-form-label">Crop size</label>
                                </div>
                                <div class="col-lg-6">
                                    <input id="edit-cropSize" type="number" class="form-control" value="" min="64" max="224" onchange="updateControls('edit-')" autocomplete="off">
                                </div>
                            </div>
                        </div>                        
                        <div class="col-4">
                            <div class="row">
                                <div class="col-lg-6 text-lg-end">
                                    <label for="edit-cropCenterX" class="col-form-label">Crop center X</label>
                                </div>
                                <div class="col-lg-6">
                                    <input id="edit-cropCenterX" type="number" class="form-control" value="" onchange="updateControls('edit-')" autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="row">
                                <div class="col-lg-6 text-lg-end">
                                    <label for="edit-cropCenterY" class="col-form-label">Crop center Y</label>
                                </div>
                                <div class="col-lg-6">
                                    <input id="edit-cropCenterY" type="number" class="form-control" value="" onchange="updateControls('edit-')" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-4">
                            <div class="row">
                                <div class="col-lg-6 text-lg-end">
                                    <label for="edit-thumbnailTime" class="col-form-label">Static time</label>
                                </div>
                                <div class="col-lg-6">
                                    <input id="edit-thumbnailTime" type="number" class="form-control" min="0" onchange="updateControls('edit-')" autocomplete="off">
                                </div>
                            </div>
                        </div>                        
                        <div class="col-4">
                            <div class="row">
                                <div class="col-lg-6 text-lg-end">
                                    <label for="edit-highlightStartTime" class="col-form-label">Animate start</label>
                                </div>
                                <div class="col-lg-6">
                                    <input id="edit-highlightStartTime" type="number" class="form-control" min="0" onchange="updateControls('edit-')" autocomplete="off">
                                </div>
                            </div>
                        </div>                        
                        <div class="col-4">
                            <div class="row">
                                <div class="col-lg-6 text-lg-end">
                                    <label for="edit-highlightEndTime" class="col-form-label">Animate end</label>
                                </div>
                                <div class="col-lg-6">
                                    <input id="edit-highlightEndTime" type="number" class="form-control" min="0" onchange="updateControls('edit-')" autocomplete="off">
                                </div>
                            </div>
                        </div>                        
                    </div>
                    <div id="edit-show-preview" class="text-center mt-2">
                        <button type="button" class="btn btn-secondary" onclick="editShowPreview()" data-bs-toggle="modal" data-bs-target="#downloadingModal">Show preview</button>
                    </div>
                    <div id="edit-preview" class="row my-2 d-none" onmouseenter="enableAnimation('edit-')" onmouseleave="disableAnimation('edit-')">
                        <div class="col-4 d-flex align-items-center justify-content-center">
                            <canvas id="edit-thumbnail" width="224" height="224" style="height:128px"></canvas>
                        </div>                        
                        <div class="col-4 d-flex align-items-center justify-content-center">
                            <canvas id="edit-highlightStart" width="224" height="224" style="height:128px"></canvas>
                        </div>                        
                        <div class="col-4 d-flex align-items-center justify-content-center">
                            <canvas id="edit-highlightEnd" width="224" height="224" style="height:128px"></canvas>
                        </div>                        
                    </div>
                    <div class="row my-2">
                        <div class="col-lg-2 text-lg-end">
                            <label for="edit-priority" class="col-form-label">Priority</label>
                        </div>
                        <div class="col-lg-2">
                            <input id="edit-priority" type="number" class="form-control" min="0" autocomplete="off">
                        </div>
                        <div class="col-lg-2 text-lg-end">
                            <label for="editStatus" class="col-form-label">Status</label>
                        </div>
                        <div class="col-lg-3">
                            <select id="editStatus" class="form-select" onchange="updateEditStatus()" autocomplete="off">
                                {% for s in video_statuses %}
                                <option id="editStatus{{ s }}" value="{{ s }}">{{ s }}</option>
                                {% endfor %}
                            </select>    
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-primary" value="Save Changes" onclick="submitEditVideo()">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button id="deleteVideoButton" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete Video</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal" id="deleteModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Delete video</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure that you want to delete this video?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="deleteVideo()" data-bs-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="downloadingModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Downloading video</h1>
            </div>
            <div class="modal-body">
                <p>Please wait while the video downloads. This could take a few minutes.</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%"></div>
                </div>
            </div>
        </div>
    </div>
</div>
