<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if video_id.is_some() %}
    <meta property="og:url" content="{{ video_storage_client_url }}/mp4/{{ video_id.unwrap() }}.mp4">
    <meta property="og:type" content="video.other">
    <meta property="og:site_name" content="Map Rando Videos">
    {% if og_title.is_some() %}
    <meta property="og:title" content="{{ og_title.as_ref().unwrap() }}">
    {% else %}
    <meta property="og:title" content="New video">
    {% endif %}
    <meta property="og:video" content="{{ video_storage_client_url }}/mp4/{{ video_id.unwrap() }}.mp4">
    <meta property="og:video:url" content="{{ video_storage_client_url }}/mp4/{{ video_id.unwrap() }}.mp4">
    <meta property="og:video:secure_url" content="{{ video_storage_client_url }}/mp4/{{ video_id.unwrap() }}.mp4">
    <meta property="og:video:width" content="512">
    <meta property="og:video:height" content="448">
    <meta property="og:video:type" content="video/mp4">
    <meta property="og:image" content="{{ video_storage_client_url }}/png/{{ video_id.unwrap() }}.png">
    <meta property="og:image:type" content="image/png">
    {% endif %}
    <title>Map Rando Videos</title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap-icons.css">
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/colorMode.js"></script>        
    <script>
        const videoStorageClientUrl = "{{ video_storage_client_url }}";
        var filterVideoId = {% if video_id.is_some() %} {{ video_id.unwrap() }} {% else %} null {% endif %};
        let difficultyLevels = [
          {% for d in difficulty_levels %}"{{ d }}",{% endfor %}
        ];
    </script>
    <style>
        html[data-bs-theme=dark] .table {
            --bs-table-hover-bg: #2b3035;
        }
        html[data-bs-theme=light] .table {
            --bs-table-hover-bg: #f4f5f6;
        }
        .png {
            position: absolute;
        }
        .video-row:hover .png {
            opacity: 0;
        }
        .video-row:not(:hover) .webp {
            opacity: 0;
        }        
    </style>
</head>
<body>
    {% include "navbar.html" %}
    {% include "upload.html" %}
    {% include "edit.html" %}
    {% include "tech.html" %}
    {% include "login.html" %}  
    <div id="mainContainer" class="container col-lg-10 col-xl-9 col-xxl-7">
        {% include "intro.html" %}
        {% include "video_listing.html" %}
    </div>
    <script src="/js/script.js?v=1"></script>
</body>
</html>