<p class="my-2">
Interested in contributing? Check out the 
<a href="#" data-bs-toggle="modal" data-bs-target="#guidelinesModal">submission guidelines</a>.
</p>
<div class="modal" id="guidelinesModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Video Submission Guidelines</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul>
                    <li>Video must be in uncompressed AVI format, captured directly from an accurate emulator.</li>
                    <li>Video must have the native resolution (256 x 224, 60.1 fps) and game audio only.</li>
                    <li>Use the <a href="https://smpractice.speedga.me/">Practice ROM</a> to show inputs, and use InfoHUD to show other relevant info if applicable.</li>
                    <li>Set the frame counters to "INGAME".</li>
                    <li>Where relevant, pause and show the equipment screen at the end of the video.</li>
                </ul>
                Reach out on the #development channel of the <a href="https://discord.gg/xvxphNw8na">Discord</a> and we can help set up an account for you.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
