<p class="my-3">
Interested in contributing? Check out the 
<a href="#" data-bs-toggle="modal" data-bs-target="#guidelinesModal">submission guidelines and tips</a>.
</p>
<div class="modal" id="guidelinesModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Video Submission Guidelines and Tips</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>If you're interested in creating and sharing videos here, that would be fantastic! Reach out on the #development channel of the <a href="https://discord.gg/xvxphNw8na">Discord</a> and we can help set up an account for you. 
                
                <p>Here are some things to keep in mind while creating and uploading your videos:
                <ul>
                    <li>Video must be in uncompressed AVI format, captured directly from an accurate emulator.</li>
                    <li>Video must have the native resolution (256 x 224, 60.1 fps) and game audio only.</li>
                    <li>Use the <a href="https://smpractice.speedga.me/">Practice ROM</a> to show inputs, and use InfoHUD to show other relevant info if applicable.</li>
                    <li>Set the frame counters to "INGAME".</li>
                    <li>It is recommended to apply the <a href="https://github.com/blkerby/MapRandomizer/raw/main/patches/ips/fast_pause_menu.ips">fast pause menu</a> patch, to help make the videos more concise.</li>
                    <li>If a strat involves a setup from a previous room, include this as part of the video.</li>
                    <li>Where relevant, pause and show the equipment screen at the end of the video.</li>
                    <li>The logic info (room name, from/to node ID, and strat) is optional. It helps if you can fill it in, but feel free to leave any part blank if you're unsure.</li>
                    <li>The "Note" field doesn't need to repeat information that is in the strat logic. It's generally fine to leave it blank. It can be used to give detail if a strat doesn't yet exist in logic, or to distinguish multiple videos for the same strat.</li>
                    <li>A preview will be shown for a thumbnail image and animated highlight. Adjust these to focus on key moments of the strat. Between 3 and 10 seconds is typically a good length for a highlight.</li>
                    <li>All submissions can be edited later and will be reviewed before being integrated into the randomizer site, so no need to worry about any mistakes!</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
