<p class="my-3">
Interested in contributing? Check out the 
<a href="#" data-bs-toggle="modal" data-bs-target="#guidelinesModal">submission guidelines and tips</a>.
</p>
<div class="modal" id="guidelinesModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Video Submission Guidelines and Tips</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>If you're interested in creating and sharing videos here, that would be fantastic! Reach out on the #development channel of the <a href="https://discord.gg/xvxphNw8na">Discord</a> and we can help set up an account for you. 
                
                <p>Here are some things to keep in mind while creating your videos:
                <ul>
                    <li>Video must be in uncompressed AVI format, captured directly from an accurate emulator.</li>
                    <li>Avoid external capture, e.g. using OBS or CamStudio, as it will have quality problems.</li>
                    <li>Please follow the <a href="#" data-bs-toggle="modal" data-bs-target="#emulatorModal">emulator-specific instructions</a> for your emulator.</li>
                    <li>Use the <a href="https://smpractice.speedga.me/">Practice ROM</a> to show inputs, and use InfoHUD to show other relevant info if applicable.</li>
                    <li>Set Misc Options > Suit Properties to "COMPLEMENT".</li>
                    <li>Set Infohud > Timer Settings > Frame Counters to "INGAME".</li>
                    <li>It is recommended to apply the following patches:
                        <ul>
                            <li><a href="https://github.com/blkerby/MapRandomizer/raw/main/patches/ips/fast_pause_menu.ips">Fast pause menu</a> patch, to help make the videos more concise.</li>
                            <li><a href="https://github.com/blkerby/MapRandomizer/raw/main/patches/ips/rng_fix.ips">RNG fix</a> patch, to ensure enemy RNG works as it would in the randomizer.</li>
                        </ul></li>
                    <li>If a strat involves a setup from a previous room, include this as part of the video.</li>
                    <li>Pause and show the equipment screen at the end of the video (unless already shown as part of the strat).</li>
                </ul>

                <p>Tips for filling out the upload form:
                <ul>
                    <li>The logic info (room name, from/to node ID, and strat) is optional. It helps if you can fill it in, but feel free to leave any part blank if you're unsure.</li>
                    <li>The "Note" field doesn't need to repeat information that is in the strat logic. It's generally fine to leave it blank. It can be used to give detail if a strat doesn't yet exist in logic, or to distinguish multiple videos for the same strat.</li>
                    <li>A preview will be shown for a thumbnail image and animated highlight. Adjust these to focus on key moments of the strat. Between 3 and 10 seconds is typically a good length for a highlight.</li>
                    <li>All submissions can be edited later and will be reviewed before being integrated into the randomizer site, so no need to worry about any mistakes!</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="emulatorModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Emulator-specific guidelines</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>The recommended process is to first create a "movie" recording and then convert it to an AVI while playing it back within the emulator.<a href="#footnote-movie"><sup>1</sup></a> This way you can retry the strat as many times as you like, by loading from a save state, without having to manually restart the recording every time and without having to trim down the video at the end.</p>

                <p>It is recommended to use the BizHawk emulator, as it reliably gives high-quality output while other emulators sometimes have issues. BizHawk also has the ability to create save states in the middle of recording, which in many situations is recommended to save time. Only avoid abusing this to create TAS-level executions which would not be humanly viable; and mention in a note if the execution relies in a significant way on save states or other emulator features such as slowdown (it's not necessary to mention if only using a save state to avoid repeating an initial setup that is not the focus of the strat).</p>
                
                <p>Find the details for your emulator below:</p>

                <h5>BizHawk (recommended)</h5>
                <ul>
                    <li>Get set up in the place where you want the recording to begin</li>
                    <li>Pause the emulator</li>
                    <li>File > Movie > Record Movie: select "Record From: Now"</li>
                    <li>Create a save state</li>
                    <li>Unpause the emulator</li>
                    <li>Attempt the strat</li>
                    <li>Load from the save state as many times as needed</li>
                    <li>Optional: you may save state in the middle of recording, e.g. to avoid having to repeat a slow setup with every attempt.</li>
                    <li>After success, pause emulator (remember to show the equipment screen first)</li>
                    <li>File > Movie > Stop Movie</li>
                    <li>File > Movie > Play Movie</li>
                    <li>File > AVI/WAV > Config and Record AVI/WAV: select "AVI writer" and "Full frames (Uncompressed)"</li>
                    <ul>
                    <li>On Linux, instead select "FFmpeg writer" and use the following "[Custom]" command:<br> 
                    <code>-c:a pcm_s16le -c:v rawvideo -f avi -pix_fmt bgr24 -vf vflip -flipped_raw_rgb true</code></li>
                    </ul>
                    <li>Unpause the emulator</li>
                    <li>Pause the emulator when the movie reaches the desired stopping point</li>
                    <li>File > AVI/WAV > Stop AVI/WAV</li>
                </ul>

                <h5>Mesen2</h5>
                <ul>
                    <li>Get set up in the place where you want the recording to begin</li>
                    <li>Create a save state, and load from it.</li>
                    <li>Attempt the strat</li>
                    <li>Load from the save state as many times as needed, until successfully doing the strat</li>
                    <li>Load from the save state one more time (remember to show the equipment screen first)</li>
                    <li>Wait a few seconds, then pause the emulator.</li>
                    <li>Tools > History Viewer: export a movie (.MMO) of the segment</li>
                    <li>Tools > Movies > Play: select the movie that you just exported</li>
                    <li>Tools > Video Recorder > Record</li>
                    <li>Unpause the emulator</li>
                    <li>Pause the emulator when the movie reaches the desired stopping point</li>
                    <li>Tools > Video Recorder > Stop</li>
                </ul>

                <h5>Snes9x (not recommended, may have audio quality problems)</h5>
                <ul>
                    <li>Get set up in the place where you want the recording to begin</li>
                    <li>Pause the emulator</li>
                    <li>File > Movie record</li>
                    <li>Create a save state</li>
                    <li>Unpause the emulator</li>
                    <li>Attempt the strat</li>
                    <li>Load from the save state as many times as needed</li>
                    <li>After success, pause emulator (remember to show the equipment screen first)</li>
                    <li>File > Movie Stop</li>
                    <li>File > Movie Play</li>
                    <li>File > Start AVI Recording: select Full Frames (Uncompressed)</li>
                    <li>Unpause the emulator</li>
                    <li>Pause the emulator when the movie reaches the desired stopping point</li>
                    <li>File > Stop AVI Recording</li>
                </ul>

                <hr>
                <a id="footnote-movie">
                <p><small>
                <sup>1</sup>A "movie" is a recording of the sequence of inputs (along with a starting save state of the SNES RAM), so it will be a tiny file compared to the AVI which contains the rendered video and audio. 
                </small></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
