<button id="loginButton" type="button" class="btn btn-primary mr-1 px-2 py-1" data-bs-toggle="modal" data-bs-target="#loginModal">
    Log In
</button>
<div class="modal" id="loginModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Log In</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" onsubmit="signIn(); return false;">
                <div class="modal-body">
                    <label for="username" class="form-label">Username</label>
                    <input id="username" type="text" class="form-control" name="username">
                    <label for="token" class="form-label">Token</label>
                    <input id="token" type="password" class="form-control" name="token" autocomplete="off">
                    <div id="loginFailed" class="alert alert-danger d-none my-3" role="alert">
                        Authentication failed
                    </div>
                    <hr>
                    If you're interested in contributing to this project, please reach out in the #development channel of the
                    <a href="https://discord.gg/xvxphNw8na">Map Rando Discord</a>!
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="Sign In">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<button id="logoutButton" type="button" class="btn btn-secondary mr-1 px-2 py-1 d-none" onclick="signOut()"></button>