<button id="uploadButton" type="button" class="btn btn-primary mr-1 px-2 py-1 d-none" data-bs-toggle="modal" data-bs-target="#uploadModal">
    Upload Video
</button>
<div class="modal" id="uploadModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Upload Video</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="uploadForm">
                <div class="modal-body">
                    <div class="row mb-2">
                        <div class="col-lg-1 col-sm-2 text-sm-end">
                            <label for="videoFile" class="col-form-label">Video</label>
                        </div>
                        <div class="col-lg-11 col-sm-10">
                            <input id="videoFile" type="file" class="form-control" name="video_file" accept=".avi" onchange="updateFile()" autocomplete="off">
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-lg-1 col-sm-2 text-sm-end">
                            <label for="room" class="col-form-label">Room</label>
                        </div>
                        <div class="col-lg-11 col-sm-10">
                            <select id="room" class="form-select" name="room_id" onchange="updateNodeOptions()" autocomplete="off">
                                <option value="">Select a room</option>
                            </select>    
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-lg-1 col-sm-2 text-sm-end">
                            <label for="fromNode" class="col-form-label">From</label>
                        </div>
                        <div class="col-lg-11 col-sm-10">
                            <select id="fromNode" class="form-select" name="from_node_id" onchange="updateStratOptions()" autocomplete="off">
                                <option value="">Select "from" node</option>
                            </select>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-lg-1 col-sm-2 text-sm-end">
                            <label for="toNode" class="col-form-label">To</label>
                        </div>
                        <div class="col-lg-11 col-sm-10">
                            <select id="toNode" class="form-select" name="to_node_id" onchange="updateStratOptions()" autocomplete="off">
                                <option value="">Select "to" node</option>
                            </select>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-lg-1 col-sm-2 text-sm-end">
                            <label for="strat" class="col-form-label">Strat</label>
                        </div>
                        <div class="col-lg-11 col-sm-10">
                            <select id="strat" class="form-select" name="strat_id" autocomplete="off">
                                <option value="">Select strat</option>
                            </select>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-lg-1 col-sm-2 text-sm-end">
                            <label for="note" class="col-form-label">Note</label>
                        </div>
                        <div class="col-lg-11 col-sm-10">
                            <textarea id="note" class="form-control" name="note" maxlength=8000 autocomplete="off"></textarea>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-4">
                            <div class="row">
                                <div class="col-lg-6 text-lg-end">
                                    <label for="thumbnailSize" class="col-form-label">Crop size</label>
                                </div>
                                <div class="col-lg-6">
                                    <input id="thumbnailSize" type="number" class="form-control" name="crop_size" value="" min="64" max="224" onchange="updateControls()" autocomplete="off">
                                </div>
                            </div>
                        </div>                        
                        <div class="col-4">
                            <div class="row">
                                <div class="col-lg-6 text-lg-end">
                                    <label for="thumbnailX" class="col-form-label">Crop center X</label>
                                </div>
                                <div class="col-lg-6">
                                    <input id="thumbnailX" type="number" class="form-control" name="crop_center_x" value="" onchange="updateControls()" autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="row">
                                <div class="col-lg-6 text-lg-end">
                                    <label for="thumbnailY" class="col-form-label">Crop center Y</label>
                                </div>
                                <div class="col-lg-6">
                                    <input id="thumbnailY" type="number" class="form-control" name="crop_center_y" value="" onchange="updateControls()" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-4">
                            <div class="row">
                                <div class="col-lg-6 text-lg-end">
                                    <label for="thumbnailTime" class="col-form-label">Static time</label>
                                </div>
                                <div class="col-lg-6">
                                    <input id="thumbnailTime" type="number" class="form-control" name="thumbnail_t" min="0" onchange="updateControls()" autocomplete="off">
                                </div>
                            </div>
                        </div>                        
                        <div class="col-4">
                            <div class="row">
                                <div class="col-lg-6 text-lg-end">
                                    <label for="highlightStartTime" class="col-form-label">Animate start</label>
                                </div>
                                <div class="col-lg-6">
                                    <input id="highlightStartTime" type="number" class="form-control" name="highlight_start_t" min="0" onchange="updateControls()" autocomplete="off">
                                </div>
                            </div>
                        </div>                        
                        <div class="col-4">
                            <div class="row">
                                <div class="col-lg-6 text-lg-end">
                                    <label for="highlightEndTime" class="col-form-label">Animate end</label>
                                </div>
                                <div class="col-lg-6">
                                    <input id="highlightEndTime" type="number" class="form-control" name="highlight_end_t" min="0" onchange="updateControls()" autocomplete="off">
                                </div>
                            </div>
                        </div>                        
                    </div>
                    <div class="row my-2" onmouseenter="enableAnimation()" onmouseleave="disableAnimation()">
                        <div class="col-4 d-flex align-items-center justify-content-center">
                            <canvas id="thumbnail" width="224" height="224" style="height:128px"></canvas>
                        </div>                        
                        <div class="col-4 d-flex align-items-center justify-content-center">
                            <canvas id="highlightStart" width="224" height="224" style="height:128px"></canvas>
                        </div>                        
                        <div class="col-4 d-flex align-items-center justify-content-center">
                            <canvas id="highlightEnd" width="224" height="224" style="height:128px"></canvas>
                        </div>                        
                    </div>
                    <div class="form-check my-2">
                        <input id="copyright_waiver" type="checkbox" class="form-check-input" name="copyright_waiver" required>
                        <label for="copyright_waiver" class="form-check-label">I dedicate this video to public domain, applying 
                            <a href="https://creativecommons.org/publicdomain/zero/1.0/deed.en">Creative Commons CC0</a> to it.
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-primary" value="Submit Video" onclick="submitVideo()">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="submitModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Uploading video</h1>
            </div>
            <div class="modal-body">
                <p>Please wait while the video uploads. This could take a few minutes.</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%"></div>
                </div>
            </div>
        </div>
    </div>
</div>
