<div class="row my-2 align-items-center">
    <div class="col-lg-1 col-sm-2 text-sm-end">
        <label for="filterRoom">Room</label>
    </div>
    <div class="col-lg-11 col-sm-10">
        <select id="filterRoom" class="form-select" name="filter_room_id" onchange="updateNodeOptions('filterRoom', 'filterFromNode', 'filterToNode', 'filterStrat'); updateFilter()">
            <option value="">Filter by room</option>
        </select>
    </div>
</div>
<div class="row my-2 align-items-center">
    <div class="col-lg-1 col-sm-2 text-sm-end">
        <label for="filterFromNode">From</label>
    </div>
    <div class="col-lg-11 col-sm-10">
        <select id="filterFromNode" class="form-select" name="filter_from_node_id" onchange="updateStratOptions('filterStrat', 'filterFromNode', 'filterToNode'); updateFilter()">
            <option value="">Filter by "from" node</option>
        </select>
    </div>
</div>
<div class="row my-2 align-items-center">
    <div class="col-lg-1 col-sm-2 text-sm-end">
        <label for="filterToNode">To</label>
    </div>
    <div class="col-lg-11 col-sm-10">
        <select id="filterToNode" class="form-select" name="filter_to_node_id" onchange="updateStratOptions('filterStrat', 'filterFromNode', 'filterToNode'); updateFilter()">
            <option value="">Filter by "to" node</option>
        </select>
    </div>
</div>
<div class="row my-2 align-items-center">
    <div class="col-lg-1 col-sm-2 text-sm-end">
        <label for="filterStrat">Strat</label>
    </div>
    <div class="col-lg-11 col-sm-10">
        <select id="filterStrat" class="form-select" name="filter_strat_id" onchange="updateFilter()">
            <option value="">Filter by strat</option>
        </select>
    </div>
</div>
<div class="row my-2 align-items-center">
    <div class="col-lg-1 col-sm-2 text-sm-end">
        <label for="filterUser">User</label>
    </div>
    <div class="col-lg-11 col-sm-10">
        <select id="filterUser" class="form-select" name="filter_account_id" onchange="updateFilter()">
            <option value="">Filter by uploaded user</option>
        </select>
    </div>
</div>