<div class="row my-2 align-items-center">
    <div class="col-lg-1 col-sm-2 text-sm-end">
        <label for="filterRoom">Room</label>
    </div>
    <div class="col-lg-11 col-sm-10">
        <select id="filterRoom" class="form-select" onchange="updateNodeOptions('filterRoom', 'filterFromNode', 'filterToNode', 'filterStrat'); updateFilter()">
            <option value="">Filter by room</option>
        </select>
    </div>
</div>
<div class="row my-2 align-items-center">
    <div class="col-lg-1 col-sm-2 text-sm-end">
        <label for="filterFromNode">From</label>
    </div>
    <div class="col-lg-5 col-sm-4">
        <select id="filterFromNode" class="form-select" onchange="updateStratOptions('filterRoom', 'filterStrat', 'filterFromNode', 'filterToNode'); updateFilter()">
            <option value="">Filter by "from" node</option>
        </select>
    </div>
    <div class="col-lg-1 col-sm-2 text-sm-end">
        <label for="filterToNode">To</label>
    </div>
    <div class="col-lg-5 col-sm-4">
        <select id="filterToNode" class="form-select" onchange="updateStratOptions('filterRoom', 'filterStrat', 'filterFromNode', 'filterToNode'); updateFilter()">
            <option value="">Filter by "to" node</option>
        </select>
    </div>
</div>
<div class="row my-2 align-items-center">
    <div class="col-lg-1 col-sm-2 text-sm-end">
        <label for="filterStrat">Strat</label>
    </div>
    <div class="col-lg-11 col-sm-10">
        <select id="filterStrat" class="form-select" onchange="updateFilter()">
            <option value="">Filter by strat</option>
        </select>
    </div>
</div>
<div class="row my-2 align-items-center">
    <div class="col-lg-1 col-sm-2 text-sm-end">
        <label for="filterUser">User</label>
    </div>
    <div class="col-lg-5 col-sm-4">
        <select id="filterUser" class="form-select" onchange="updateFilter()">
            <option value="">Filter by user</option>
        </select>
    </div>
    <div class="col-lg-1 col-sm-2 text-sm-end">
        <label for="filterSortBy">Sort by</label>
    </div>
    <div class="col-lg-5 col-sm-4">
        <select id="filterSortBy" class="form-select" onchange="updateFilter()">
            <option value="SubmittedTimestamp">Submitted time</option>
            <option value="UpdatedTimestamp">Updated time</option>
        </select>
    </div>
</div>
<div class="row my-2 align-items-center">
    <div class="col-lg-1 col-sm-2 text-sm-end">
        <label for="filterStatus">Status</label>
    </div>
    <div class="col-lg-11 col-sm-10">
        <style>
            .my-multiselect {
                border: var(--bs-border-width) solid var(--bs-border-color)
            }
        </style>
        <select id="filterStatus" class="selectpicker" multiple data-style="my-multiselect" data-styleBase="" data-width="100%" data-dropdownAlignRight="true" onchange="updateFilter()">
            <option value="Incomplete" selected>Incomplete</option>
            <option value="Complete" selected>Complete</option>
            <option value="Approved" selected>Approved</option>
            <option value="Disabled">Disabled</option>
        </select>
    </div>
</div>

<div class="card my-3">
    <div class="card-header">Videos (<span id="videoCount"></span>)</div>
    <div class="card-body p-0">
        <table class="table table-hover mb-0">
            <tbody id="videoTableBody"></tbody>
        </table>
    </div>
</div>
<div class="modal" id="videoModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <video id="video" width=100% controls style="image-rendering: pixelated;">
            <source id="videoSource" src="">
          </video>
        </div>
      </div>
    </div>
</div>
  